
<html xmls:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/> <!-- se quita static y puntos para que css funcione -->
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido"> 
            <h2>Articulos Disponibles</h2>
            <br/>
            <div th:if="${articulos != null and !articulos.empty}"> 
                <table border="1">
                    <header>
                        <thead>
                        <th>Descripcion</th>
                        <th>Precio</th>
                        <th>Acciones</th> <!-- colspan es para unificar columnas -->
                        </thead>
                        <tbody>
                            <tr th:each="item : ${articulos}"> <!-- para repetir cada uno de los que estan en td -->
                                <td th:text="${item.descripcion}"></td>
                                <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}"></td>
                                <td><a th:href="@{/carrito/agregar/} + ${item.idArticulo}">Agregar</a></td>

                            </tr>
                        </tbody>
                    </header>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}"> <!-- sale cuando la lista esta vacia o no existe -->
                La lista de articulos está vacía...
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />

    </body>
</html>



